<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
<%= render 'layouts/header' %>
      <div class="inner cover" style="font-family: kg_second_chances_sketchRg;">
      <br><br><br>
      <h1 style="color:#c0392b; font-size: 60px;">
      	Contact Plonkers Popcorn
      </h1>

<div class="row">
<div class="col-sm-7">
  <div id="wufoo-z1xy1j2x121l9b6">
  Contact Plonkers Popcorn<a href="https://plonkerspopcorn.wufoo.com/forms/z1xy1j2x121l9b6"></a>.
  </div>
  <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">wufoo<a href="http://www.wufoo.com"></a></div>
  <script type="text/javascript">var z1xy1j2x121l9b6;(function(d, t) {
  var s = d.createElement(t), options = {
  'userName':'plonkerspopcorn',
  'formHash':'z1xy1j2x121l9b6',
  'autoResize':true,
  'height':'592',
  'async':true,
  'host':'wufoo.com',
  'header':'hide',
  'ssl':true};
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
  try { z1xy1j2x121l9b6 = new WufooForm();z1xy1j2x121l9b6.initialize(options);z1xy1j2x121l9b6.display(); } catch (e) {}};
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');</script>
  </div><!--col-->
  <div class="col-sm-4 col-sm-offset-1">
    <img src="https://s3.amazonaws.com/plonkers/public/plonkers-definition.png" style="width=100%">
  </div>
</div><!--row-->
<br><br><br><br>

      </div>
    </div>
  </div>
</div>
<!--end of cover page-->