<!--cover page-->
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
<%= render 'layouts/header' %>
      <div class="inner cover" style="font-family: kg_second_chances_sketchRg;">
        <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
        <img src="https://s3.amazonaws.com/plonkers/public/logo-large.png">
        <h2>MEET YOUR NEW ADDICTION</h2> 
        <p class="lead">You can find our popcorn in many grocery stores across the northwest. Interested in selling Plonkers Popcorn?</p>
        <button class="btn btn-primary btn-lg">Contact us</button><br><br><br><br>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!--end of cover page-->
<div style="background: #ecf0f1; color: #34495e;">
<div class="container">
<br><br><br><br>
  <div class="row">
    <div class="col-md-6">
      <h2>Leave the panic to us</h2><br>
      <p class="lead">Most people lie about pregnancy, we won't. Our boxes, and soon our website, will contain all the uncensored and non-fairytale details about what to expect from pregnancy. Allow us to help you be ready for the days you don't feel like a "glowing" mom (which are most).</p>
      <br><br>
    </div>
   <div class="col-md-6">
      <h2>So you can stay YOU </h2><br>
      <p class="lead">We're not stopping there. The boxes we send out are tailored for each month of pregnancy, so along with tons of information, each box containes the essentials (think nausea candies & panty liners) a pregnant woman needs to boldly go out and do...whatever she wants to do. </p><br><br>
   </div>
<!--     <div class="col-md-6">
      <h2>So you can be YOU</h2>
      <p class="lead">We're not stopping there. The boxes we send out are tailored for each month of pregnancy, so along with tons of information, each box containes the essentials (think nausea candies & panty liners) a pregnant woman needs to boldly go out and do...whatever she wants to do. </p>
    </div>-->
  </div>
  <br>
</div>
<br><br><br><br><br><br><br><br>