
<!--cover page-->
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
<%= render 'layouts/header' %>
      <div class="inner cover" style="font-family: kg_second_chances_sketchRg;">
      <br><br><br><br>
      <h1 style="color:#c0392b; font-size: 60px;">
      	The Original Plonker
      </h1>
				<p class="lead">Darrell Hammond is the founder of Plonkers Popcorn. 
				Darrell started his love for popcorn many years ago as a child.....then his wife started making gourmet popcorn for the holidays and he wanted to improve on the popcorn. He would come home from a day at work as a contractor and enjoy his time in the kitchen working on his new favorite flavor. Darrell is local to the pacific northwest and loves all the things the PNW has to offer. He is known by all his friends and family as the Popcorn Man.</p>
      <br><br><br><br>
      </div>
      <div class="container">
      <img src="https://s3.amazonaws.com/plonkers/public/PlonkersPopcorn-49.jpg" style="width: 90%">
      </div>
      <br><br><br>
    </div>
  </div>
</div>
<!--end of cover page-->