
<!--cover page-->
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
<%= render 'layouts/header' %>
      <div class="inner cover">
      <br><br><br><br><br>
        
      <br><br><br><br>
      </div>
    </div>
  </div>
</div>
<!--end of cover page-->