<!DOCTYPE html>
<html>
<head>
  <title>Plonkers Popcorn | Delicious Popped Corn</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!--Website created by @dal_adamson; you can reach out to me on twitter.-->
<body>


<%= yield %>

</body>
</html>
